@lainaedge:registry=https://gitlab.protovate.com/api/v4/packages/npm/
//gitlab.protovate.com/api/v4/packages/npm/:_authToken=d1KAj9uyKqAsYYBRh2gh

@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=4F5FE728-5468-4C43-8DBA-86AE45EE0080